/*--sets a standard font size for the page so you can use rem units--*/
html {
  font-size: 16px;

}
/*---*/

body {
  font-family: 'Avenir', sans-serif;
}


/*--since body contains all of the content on the page (it's the parent container to all content) we want to start by priming the whole page to be 100% of the screen width. That way, when we add widths to content housed within the body (children of the body parent container), the children content will never break past 100% of the screen size --*/
body {
margin: 0 auto;
padding: 0;
width: 100%;
background-color: #474C50;
}










/*  carusel css start */

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 94%;
    margin: 0 auto;
    height:500px;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

/* FOR CLASSES .IMAGE-1, .IMAGE-2, AND .IMAGE-3, REPLACE THE BACKGROUND IMAGE URL WITH YOUR IMAGE URL. THIS SLIDER MUST HAVE 3 IMAGES TO FUNCTION PROPERLY */

.image-1 {
background-image: url("../img/carusel-img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-2 {
background-image: url("../img/carusel-img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-3 {
background-image: url("../img/carusel-img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.carousel-item {
    position: absolute;
    opacity: 0;
  height:500px;
}



.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
bottom:2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #474C50;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #BDC691;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* carusel css end */












h3 {
margin: 0 auto;
background-color: #BDC691;
padding: 15px 0px;
text-align: center;
width:94%;
}

.locations-section {
width: 94%;
margin: 0 auto;

}






/*responsive locations section start*/
.locations-section {
  display: flex;
}

.location-info {
  flex: 1; /*grow*/
  border: none;
}

@media (max-width: 768px) { /*breakpoint*/
  .locations-section {
    flex-direction: column;
  }
}
/*responsive locations section end*/




.location-info {
margin: 20px 0px;
  background-color: #ECE0D1;
  padding: 3%;
}

.locations-section button {
background-color: #274028;
border: none;
color: #ECE0D1;
padding: 15px 32px;
text-align: center;
font-size: 16px;
font-family: 'Avenir', sans-serif;
}

.people-eating {
  width: 94%;
  margin: auto;
  display: block;
}



/*Food Menu Section Mobile/Default Styling Start*/
.food-menu-section {
  background-color: lavender;
  width: 94%;
  margin: 0 auto;
}

.menu-row-1 {
  background-color: pink;
  width:100%;
}

.hot-coffee-uncropped {
background-image: url("../img/cold-coffee-uncropped.png");
  height: 200px;
    width:100%; /*we'll change this to only take up half the screen on desktop*/
    background-size: cover;
    background-position: top;
}

.food-menu-info {
background-color: paleturquoise;
   width:100%; /*we'll change this to only take up half the screen on desktop*/
}
/*Food Menu Section Mobile/Default Styling End*/

/*Desktop Styles*/

@media only screen and (min-width: 500px) {
  .header-nav {
  background-color: #EBF9FF;
  width:90%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  width:60%;
}


#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 60%;
  justify-content: space-between;
}


 /*Food Menu Section Desktop Styling Start*/
  .menu-row-1 {
  width: 94%;
  display:flex;
justify-content: space-between;
    margin: 2% auto;

  }

  .hot-coffee-uncropped {
background-image: url("../img/cold-coffee-uncropped.png");
  height: 1420px;
    width:100%; /*updated to only take up half of the screen on desktop*/
    background-size: cover;
    background-position: top;
}
  .food-menu-info {
  width: 49%; /*updated to only take up half of the screen on desktop*/
  }
   /*Food Menu Section Desktop Styling Start*/

}




.food-menu-info {
margin: 20px 0px;
  background-color: #ECE0D1;
  padding: 3%;
}

/*Food Menu Section Mobile/Default Styling Start*/
.food-menu-section {
  background-color: lavender;
  width: 94%;
}

.menu-row-1 {
  background-color: #ECE0D1;
  width:100%;
}

.menu-item-row {
 width: 100%;
 display:flex;
 justify-content: space-between;
 align-items:flex-start;
 padding: 0 0 1rem 0;
 margin-bottom:10px;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}

.about-info {
margin: 20px 0px;
  background-color: #ECE0D1;
  padding: 3%;
}

.stay-in-touch-info {
margin: 20px 0px;
  background-color: #ECE0D1;
  padding: 3%;
}

header {
background-color: #ECE0D1;
width: 94%;
 margin: 0 auto;
}

.header-nav {
  background-color: #ECE0D1;
  width:90%;
  margin: 0 auto;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
font-size: 50px;
line-height:100px;
cursor: pointer;
}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: left;
border-top:3px double #000;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: black;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

/*Desktop Styles*/

@media only screen and (min-width: 500px) {
  .header-nav {
  background-color: #ECE0D1;
  width:90%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}



.nav-bar {
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  width:60%;
}


#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 60%;
  justify-content: space-between;
}
}



.coffee-cup{
  width: 94%;
  margin: auto;
  display: block;
}

.about-section {
width: 94%;
margin: 0 auto;
}

.about-section button {
background-color: #274028;
border: none;
color: #ECE0D1;
padding: 15px 32px;
text-align: center;
font-size: 16px;
font-family: 'Avenir', sans-serif;
}




/*responsive stay in touch section start*/
.stay-in-touch-section {
  display: flex;
}

.stay-in-touch-info {
  flex: 1; /*grow*/
  border: none;
}

@media (max-width: 768px) { /*breakpoint*/
  .stay-in-touch-section {
    flex-direction: column;
  }
}
/*responsive stay in touch section end*/
